*{
  font-family: 微軟正黑體; 
  position: relative;
}

.card {
 width:400px;
  height:550px;
  border: 1px solid rgba(0,0,0,0.02); 
  padding: 50px;
  margin: auto; 
  border-radius: 3%;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);  
  background-color: rgba(236,236,236,.6); 
  z-index: 1; 
}

table {
    margin: auto;
    text-align: center
}

td{
/*    border: 1px solid black;     */
    width:60px;
    height:40px;
}

span {
  font-size: 14px; 
}

.first {
  color:black;
}

.color {
color: rgba(236,236,236,.6);
}

.a:hover {
  background-color: #FA8339;
  color: white;
}

.b:hover {
background-color: #0BBFE3;
  color: white;
}

.c:hover {
background-color: #0BB33D;
  color: white;
}

.d:hover {
background-color: #E60939;
  color: white;
}

.e:hover {
color: #08A6C9;
border: solid 1px #08A6C9;
}

.f:hover {
background-color: #000;
  color: white;
}

.circle{
  
 border-radius: 50%;
position: absolute; 
  
}

.circle1 {
  width: 100px;
  height:100px;
  background-color: yellow; 
  right: 1000px;
  top: 30px;
}

.circle2 {
  width: 300px;
  height: 300px; 
  background-color: lightblue; 
  right: 1100px;
  top: 180px;
}

.circle3 {
  border:3px solid orange; 
width: 300px;
  height:300px;
right: 880px;
  top: 450px;
}

.circle4 {
  width: 300px;
  height:300px;
   background-color: orange;
  top: 30px;
  right: 265px; 
}

.circle5 {
  width: 200px;
  height:200px;
  background-color: lightblue;
  right:100px;
  top: 450px;
}

.circle6 {
  border: 4px solid yellow;
  width:150px;
  height:150px;
  right: 20px;
  top:-20px;
}


